extends layout

include errors
block title
    | Gestion administrateur

block content
    div()
        +errors(errors)
    table(class="table table-striped col-sm-6")
        thead
            tr
                th  nom d'utilisateur
                th  action
        tbody
            each row in table
                tr
                    td #{row.username}
                    td
                        +deletionForm('/admin/userControl/delete/'+row._id,token)
                        form(class="form-inline" method="post" action="/admin/userControl/delete/"+row._id)
                            button(type="submit" name="_csrf") Supprimer