doctype html
html(lang="fr")
    head
        title()
            block title
        link(href='/bootstrap/bootstrap.min.css', rel='stylesheet')
        link(href='/icons/material-icons.css', rel='stylesheet')
        script(src='/bootstrap/bootstrap.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
        script(src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous")
    body
        header
            div(class='navbar navbar-dark bg-dark')
                div(class="container")
                    div
                        a(class="navbar-brand" href="/")
                            i(class="material-icons") home
                        a(class="navbar-brand" href="/album/mypictures") Mes Photos
                        a(class="navbar-brand" href="/album/upload") Upload

                    if loggedUser
                        form(class="form-inline")
                            span(class="form-control mr-sm-2") #{loggedUser.username}
                            a(href="/auth/logOut" class="btn btn-primary") Log out
                    else
                        block connexionBtn
        main
            div(class='container')
                br
                block content
                block script