extends layout

block title
    | Photos
block content
    h1  Mes photos
    div(class="row")
        each picture in pictures
            div(class="deletable")
                div(class="col-sm-4 mb-4")
                    div(class="card" style="width: 18rem")
                        img(src=picture.picture.path class="card-img-top"  )
                        div(class="card-body")
                            button(type="submit" id=picture._id name="delete-btn" class="btn btn-danger") Supprimer
                            input(type="hidden" name="_csrf" value=token)

block script
    script(src="/utils.js")
    script.
        $(document).ready(
            function () {
                const btns = $("[name=delete-btn]");
                const token = "#{token}";
                for (let i = 0; i < btns.length; i++) {
                    const id = $(btns[i]).attr('id');
                    $(btns[i]).click(function () {
                        const xhr = createXhrObject();
                        processDeletion(xhr, btns[i], token,id,deleteNode);
                    })
                }
            }
        )