extends layout

block content
    div(class="row")
        div(class="col-md-4")
            each picture in pictures
                form(method="post" action="/album/delete/"+picture._id)
                    img(src=picture.picture.path)
                    input(type="hidden" name="_csrf" value=token)
                    button(type="submit" class="btn btn-danger") Supprimer