//-Solution très sale,
//-source https://stackoverflow.com/questions/38271815/i-get-csrf-error-when-using-enctype-multipart-form-data
extends layout
block title
    | Postez un photo
block content
    form(enctype="multipart/form-data" method="post" action="?_csrf=" + token)
        div(class="col-sm-6")
            div(class="input-group")
                div(class="custom-file")
                    label(class="custom-file-label" for="inputGroupeFile04") Choisissez un fichier
                    input(type="file" name="image"  id="inputGroupeFile04" class="custom-file-input" required)
                div(class="input-group-append")
                    button(class="btn btn-outline-secondary" type="submit" ) Upload
    div(class="photo")
        h3(style="margin-top : 10px;")
            | les photos que tu viens d'ajouter :


block script
    script.
        $('input[type="file"]').change(function (e) {
            const fileName = e.target.files[0].name;
            $('.custom-file-label').html(fileName);
        });
        const result = $.get({
            url: '/album/lastpic',
            dataType: 'json',
        });
        result.done(
            function () {
                const file = result.responseJSON;
                if(file.status === "bad") alert('impossible de récupérer la dernière photo');
                const cardElement = document.createElement('div');
                const rowElement = document.createElement('div')
                const imageElement = document.createElement('img');

                rowElement.setAttribute('class','card');
                cardElement.setAttribute('class','card');
                imageElement.setAttribute('src',file.picture.picture.path);
                imageElement.setAttribute('class','card-img-top');

                const photoElement = document.querySelector('.photo');
                photoElement.appendChild(rowElement);
                rowElement.appendChild(cardElement);
                cardElement.appendChild(imageElement);
            }
        )
