//-Solution très sale,
//-source https://stackoverflow.com/questions/38271815/i-get-csrf-error-when-using-enctype-multipart-form-data
extends layout
block title
    | Postez un photo
block content
    form(enctype="multipart/form-data" method="post" id="formUpload")
        div(class="col-sm-6")
            div(class="input-group")
                div(class="custom-file")
                    label(class="custom-file-label" for="inputGroupeFile04") Choisissez un fichier
                    input(type="file" name="image"  id="inputGroupeFile04" class="custom-file-input" required)
                div(class="input-group-append")
                    button(class="btn btn-outline-secondary" type="submit" id="buttonForm") Upload
    div(class="photo")
        h3(style="margin-top : 10px;")
            | les photos que tu viens d'ajouter :
        div(class="row")


block script
    script(src="/utils.js")
    script.
        $('input[type="file"]').change(function (e) {
            const fileName = e.target.files[0].name;
            $('.custom-file-label').html(fileName)
            document.querySelector('#buttonForm').removeAttribute('disabled');
        });
        $("#formUpload").submit( function (e) {
                document.querySelector('#buttonForm').setAttribute('disabled','');
                const form = new FormData(document.querySelector('#formUpload'));
                const url = "?_csrf=" + "#{token}"
                $.ajax({
                    type: "POST",
                    url: url,
                    data: form,
                    processData: false,
                    contentType: false,
                    success: function (o, p, q) {
                        const result = q.responseJSON;
                        if (result.success === "bad") {
                            displayError(result);
                        } else getLastPic();
                    }
                })
                e.preventDefault();
            }
        );

